@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

:root {
  --accent-color-50: 254 251 236;
  --accent-color-100: 253 242 200;
  --accent-color-200: 250 229 141;
  --accent-color-300: 247 207 70;
  --accent-color-400: 245 191 42;
  --accent-color-500: 239 158 17;
  --accent-color-600: 212 121 11;
  --accent-color-700: 176 85 13;
  --accent-color-800: 143 66 17;
  --accent-color-900: 120 55 12;
  --accent-color-950: 75 39 12;
}
